* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(./img/margaritas.png);
  background-size: cover;
  background-repeat: repeat;
}

.header {
  background-image: linear-gradient(to bottom, #9A9483, #E5DCC3);
  margin-top: 0%;
  position: relative;
  width: 100%;
  height: 100%;
}
.header nav {
  text-align: right;
  border: 2px;
  padding: 1%;
}
.header nav a {
  text-decoration: none;
  color: #DED7B1;
  font-size: 20px;
  padding: 10px;
  display: inline-block;
}

/*index*/
.img-fondo {
  float: inline-start;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 80%;
}

.parr-index {
  position: absolute;
  text-align: center;
  text-decoration: solid;
  font-family: "Balthazar", serif;
  color: white;
  top: 340px;
  width: 100%;
}

.parr-index2 {
  position: absolute;
  text-align: center;
  text-decoration: solid;
  font-family: "Balthazar", serif;
  font-size: x-large;
  color: black;
  top: 410px;
  width: 100%;
  margin: 0 auto;
}

.home-contemplare {
  width: 30%;
  display: flex;
  margin-left: 36%;
}

/*variables*/
.privacidad, .contemplare {
  font-family: "Neuton", serif;
  text-align: right;
  margin-right: 3%;
}

/*artworks-drawings*/
.artworks {
  margin-top: 16px;
  font-size: 20px;
  color: #9A9483;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  font-size: x-large;
}

/*variables*/
.privacidad, .contemplare {
  font-family: "Neuton", serif;
  text-align: right;
  margin-right: 3%;
}

/*artworks-paintings*/
.artworks {
  margin-top: 16px;
  font-size: 20px;
  color: #9A9483;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  font-size: x-large;
}

/*variables*/
.privacidad, .contemplare {
  font-family: "Neuton", serif;
  text-align: right;
  margin-right: 3%;
}

/*artworks-sculptures*/
.artworks {
  margin-top: 16px;
  font-size: 20px;
  color: #9A9483;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  font-size: x-large;
}

/*variables*/
.privacidad, .contemplare {
  font-family: "Neuton", serif;
  text-align: right;
  margin-right: 3%;
}

/*artworks-engravings*/
.artworks {
  margin-top: 16px;
  font-size: 20px;
  color: #9A9483;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  font-size: x-large;
}

/*variables*/
.privacidad, .contemplare {
  font-family: "Neuton", serif;
  text-align: right;
  margin-right: 3%;
}

/*artists*/
.artworks {
  margin-top: 16px;
  font-size: 20px;
  color: #9A9483;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  font-size: x-large;
}

.artist {
  width: 110%;
  height: 100%;
  transition: height 3s, width 3s;
}
.artist:hover {
  width: 115%;
  height: 105%;
}

.artist-img {
  transition: opacity 0% 4s;
}
.artist-img:hover {
  opacity: 80%;
}

.privacidad, .contemplare {
  font-family: "Neuton", serif;
  text-align: right;
  margin-right: 3%;
}

/*exhibitions*/
.container-exh {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-article-exh {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.img-exhibition1 {
  width: 70%;
}

.img-exhibition2 {
  margin-top: 10px;
  width: 40%;
}

.parrafo-exh1 {
  font-family: "Volkhov", serif;
  text-decoration: underline;
  font-size: xx-large;
  text-align: left;
  margin: 10px;
  margin-left: 35px;
}

.parrafo-exh2 {
  font-family: "Gelasio", serif;
  font-size: x-large;
  text-align: left;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.parrafo-exh3 {
  font-family: "Gelasio", serif;
  font-size: x-large;
  text-decoration: underline;
  text-align: left;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

/*variables*/
.privacidad, .contemplare {
  font-family: "Neuton", serif;
  text-align: right;
  margin-right: 3%;
}

/*contact*/
.parrafo-contacto {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  font-family: "Volkhov", serif;
  font-size: large;
  margin: 4%;
  float: left;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  text-align: right;
  margin: 5%;
  float: right;
}

.form-fieldset-legend {
  font-family: "Volkhov", serif;
  font-size: large;
  text-align: right;
  margin: 5px;
  background-color: #FAF1E6;
}

.form-fieldset-formulario {
  font-family: "Volkhov", serif;
  font-size: large;
  text-align: right;
  margin: 5px;
}

.privacidad, .contemplare {
  font-family: "Neuton", serif;
  text-align: right;
  margin-right: 3%;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-size: cover;
  }

  .header {
    background-image: linear-gradient(to bottom, #9A9483, #E5DCC3);
    margin-top: 0%;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .header-nav {
    text-align: center;
    border: 2px;
    padding: 1%;
  }

  .header-nav-a {
    text-decoration: none;
    color: #DED7B1;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
  }

  /*index*/
  .img-fondo {
    width: 100%;
    height: 650px;
    object-fit: none;
    opacity: 80%;
  }

  .parr-index {
    position: absolute;
    text-align: center;
    text-decoration: solid;
    font-family: "Balthazar", serif;
    font-size: large;
    color: black;
    top: 220px;
    width: 70%;
    margin-left: 70px;
  }

  .parr-index2 {
    position: absolute;
    text-align: center;
    text-decoration: solid;
    font-family: "Balthazar", serif;
    font-size: large;
    color: black;
    top: 300px;
    width: 70%;
    margin-left: 70px;
  }

  .home-contemplare {
    width: 30;
    display: flex;
    margin-left: 40%;
  }

  /*artworks*/
  .row {
    display: flex;
    flex-direction: column;
  }

  .col {
    height: 100%;
    width: 100%;
    justify-content: space-around;
  }

  /*exhibitions*/
  .container-exh {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*contact*/
  .parrafo-contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: "Volkhov", serif;
    font-size: large;
    margin: 3%;
    float: center;
  }

  .form-fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    margin: 3%;
    float: center;
  }

  .form-fieldset-legend {
    font-family: "Volkhov", serif;
    font-size: large;
    text-align: center;
    margin: 3px;
    background-color: #FAF1E6;
    height: 100%;
    width: 100%;
  }

  .form-fieldset-formulario {
    font-family: "Volkhov", serif;
    font-size: large;
    text-align: center;
    margin: 3px;
    height: 100%;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
