/*artworks-paintings*/

 /*variables*/
$font-footer: 'Neuton', serif;
$footer-align: right;
$footer-margin-right: 3%;

.privacidad{
    font-family: 'Neuton', serif;
    text-align: right;
    margin-right: 3%;
}

.contemplare{
    @extend .privacidad
}