/*artworks-engravings*/

.artworks{ 
    margin-top: 16px;
    font-size: 20px;
    color: #9A9483;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    font-size: x-large;
    
}


/*variables*/
$font-footer: 'Balthazar', serif;
$footer-align: left;
$footer-margin-right: 3%;


footer{
    background-image: linear-gradient(to bottom, #E5DCC3, #9A9483);;
    border: 0px;
    padding: 2px;
    
}
.privacidad{
    font-family: 'Balthazar', serif;
    color: white;
    text-align: left;
    margin-left: 3%; 
            
}

.contemplare{
    @extend .privacidad
}
