/*artists*/

 .artist {
    width: 110%;
    height: 100%;
    transition: height 3s, width 3s;       
 
       &:hover{ 
            width: 120%;
            height: 110%;
         }
}



.privacidad{
    font-family: 'Neuton', serif;
    text-align: right;
    margin-right: 3%;
}

.contemplare{
    @extend .privacidad
}