/*contact*/

.container{
    justify-content: center;
    align-items: center;
}
.container-cards{
    color: #9A9483;
       
}

.container-cards-contact{
    align-items: center; 
    justify-content: center; 
    margin-top: 100px; 
    margin-left: 215px;
}



/*variables*/
$font-footer: 'Balthazar', serif;
$footer-align: left;
$footer-margin-right: 3%;


footer{
    background-image: linear-gradient(to bottom, #E5DCC3, #9A9483);
    border: 0px;
    padding: 2px;
    
}
.privacidad{
    font-family: 'Balthazar', serif;
    color: white;
    text-align: left;
    margin-left: 3%; 
            
}

.contemplare{
    @extend .privacidad
}