/*exhibitions*/

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 105% 95%;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
             
}

.section-article-exh{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content:space-between; 
       
}
  


.img-exhibition1, .img-exhibition2{
    width: 75%;
    
}

.parrafo-exh1{
    font-family: 'Volkhov', serif;
    text-decoration:underline; 
    font-size:xx-large ;
    text-align: left;
    margin: 10px;
    margin-left: 35px;
    
}

.parrafo-exh2{
    font-family: 'Gelasio', serif;
    font-size:x-large ;
    text-align: left;
    margin: 20px;
    display: flex;
    flex-direction: row;
        
}


/*variables*/
$font-footer: 'Balthazar', serif;
$footer-align: left;
$footer-margin-right: 3%;


footer{
    background-image: linear-gradient(to bottom, #E5DCC3, #9A9483);;
    border: 0px;
    padding: 2px;
    
}
.privacidad{
    font-family: 'Balthazar', serif;
    color: white;
    text-align: left;
    margin-left: 3%; 
            
}

.contemplare{
    @extend .privacidad
}