/*artworks-paintings*/

 /*variables*/
$font-footer: 'Neuton', serif;
$footer-align: right;
$footer-margin-right: 3%;

.privacidad{
    font-family: $font-footer;
    text-align: $footer-align;
    margin-right: $footer-margin-right;
}

.contemplare{
    font-family: $font-footer;
    text-align: $footer-align;
    margin-right: $footer-margin-right;
}
